.my{
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: 500;
  }
  .carousel{
    width: 70%;
    margin: auto;
   
  }
  .pa{
    color:darkslategray

  }
 .cal{
  margin-top: 100px;
 }
 
 
  .sizeImage{
    width:390px;
    height:180px;
  }
  .owl-theme{
     direction: ltr;
  }