.home{
    background-image:url(../../assets/post-3.jpg) ;
    height:95vh;
    background-size: cover;
 
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(7, 41, 79, 0.4);
}
.header{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    position: relative;
}








/*rgba(41, 57, 61, 0.7);*/